src/*.exe
src/aidcoins
src/aidcoinsd
src/test_aidcoins
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.aidcoins

# Compilation and Qt preprocessor part
*.qm
Makefile
aidcoins-qt
Aidcoins-Qt.app

# Unit-tests
Makefile.test
aidcoins-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
